@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

html {
    background: linear-gradient(90deg, #ffffff 50%, #3e4b54 50%);
    font-family: Roboto;
    font-size: 13px;
}

body {
    max-width: 1200px;
    margin: 10px auto 40px auto;
    padding: 0 30px 0 30px;
}

p {
    font-size: 13px;
    line-height: 170%;
    margin: 0 0 16px 0;
}

p:last-of-type {
    margin: 0;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 19px;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
    line-height: 150%;
}

h4:first-child {
    margin-top: -13px;
}

li {
    line-height: 140%;
    margin: 0 0 5px 0;
}

.left {
    color: #111111;
    float: left;
    width: 50%;
    padding: 0 30px 0 0;
    box-sizing: border-box;
}

.right {
    color: #eeeeee;
    float: right;
    width: 50%;
    padding: 0 0 0 30px;
    box-sizing: border-box;
}

.example .left {
    color: #aaaaaa;
    width: 20%;
}

.example .right {
    color: #dddddd;
    width: 80%;
}

table {
    margin-top: 16px;
    border-collapse: collapse;
    background: #f3f3f3;
    border: solid 1x #000000;
    width: 100%;
}

tr:not(:last-child) {
    border-bottom: 1px solid #cccccc;
}

td {
    padding: 9px 12px;
    vertical-align: top;
}

td:first-of-type {
    font-weight: bold;
    width: 25%;
}

.clear {
    clear: both;
}

.split {
    margin: 30px -20px 30px -20px;
    background: linear-gradient(90deg, #cccccc 50%, #3e4b54 50%);
    height: 1px;
}

.example {
    padding: 13px;
    margin-bottom: 2px;
    background: #2f3c46;
}

.get {
    background: #61affe;
}

.post {
    background: #49cc90;
}

.put {
    background: #fca130;
}

.delete {
    background: #f93e3e;
}

.repository {
    background: #16a085;
}

.method {

    color: #ffffff;
    font-size: 14px;
    padding: 6px 10px;
    position: relative;
    top: -2px;
    margin-right: 3px;
    border-radius: 4px;
}

.monospace {
    font-family: monospace;
    border: solid 1px #aaaaaa;
    background: #f3f3f3;
    padding: 0px 1px 2px 1px;
    position: relative;
    top: -1px;
}

a {
    color: #0099ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

pre {
    padding: 0;
    margin: 0;
}

pre .key {
    color: #66d9ef;
}

pre .value {
    color: #fa82a0;
}

pre .string {
    color: #e6db74;
}